body {
    overflow: auto;
    
  }
  #wrapper ::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
  #wrapper {
    position:relative;
    /* The image used */
    background-image: url("https://www.wallpaperflare.com/static/757/698/338/horizon-planets-earth-hd-wallpaper.jpg");
    overflow-x: hidden;
    /* overflow-y: visible; */
    z-index: 0;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: hidden; 
  }
  
  #content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow:hidden;
    top: 110px;
    background-color: rgba(230, 218, 230, .5);
    padding: 25px;
    box-sizing: border-box;
   box-shadow: 100px 5px 25px #333; 
  }
  
  p .parallax{
    position:relative;
    left: 30%;
    width: 40%;
    height: 100%;
    font-size: 5rem;
  }

  #paralx0,#paralx1,#paralx2 {
    position: absolute;
    height: 450px;
    width: 200px;
    border-radius: 50%;
    text-align: center;
    line-height: 390px;
    box-shadow: 10px 5px 25px #333;
    color: #fff;
  }
    
  #paralx0 {
    background-color: #01579b;
    top: 0px;
    right: 0px;
    z-index: -1;
  }
  
  #paralx1 {
    background-color: #4f83cc;
    top: 1200px;
    left: 55%;
    z-index: 21;
  }
  #paralx2 {
    background-color: #002f6c;
    top: 900px;
    left: 25%;
    z-index: 20;
  } 